@import "~office-ui-fabric-react/dist/sass/References.scss";

.backToTop {
  position: fixed;
  bottom: 1.2rem;
  right: 2rem;
  z-index: 99999;
  .iconButton {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: "[theme: themePrimary, default: #0072ce]";
    .icon {
      color: "[theme: white, default: #fffff]";
    }
    &:hover,
    &:active {
      background-color: "[theme: themePrimary, default: #0072ce]";
    }
  }
}
